@mixin capitals-colors($color) {
  background-color: $color;
  color: scale-color($color: complement($color), $lightness: -60%);
  &:hover {
    box-shadow: inset 0 0 20px 5px scale-color($color: $color, $lightness: -20%);
  }
}

.block {
  &.social {
    @include capitals-colors($social)
  }
  &.human {
    @include capitals-colors($human);
  }
  &.natural {
    @include capitals-colors($natural);
  }
  &.intellectual {
    @include capitals-colors($intellectual);
  }
  &.financial {
    @include capitals-colors($financial);
  }
  &.manufacturing {
    @include capitals-colors($manufacturing);
  }
}