@mixin capital-border-highlight($capital-colour) {
  h2 {
    border-color: $capital-colour;
  }
}

.dashboard {
  max-width: 960px;

  & > h1 {
    text-align: center;
    font-size: 3em;
  }

  .block {
    text-align: center;
    vertical-align: middle;
    padding: 1em;
  
    h2 {
      text-transform: capitalize;
      margin: 0;
    }
    .metric {
      font-size: 10em;
      font-weight: bold;
    }
  }

  .focussed {
    position: relative;

    h2 {
      text-transform: capitalize;
      border-left: 1em solid;
      padding-left: 1em;
    }

    &.social { @include capital-border-highlight($social); }
    &.human { @include capital-border-highlight($human); }
    &.natural { @include capital-border-highlight($natural); }
    &.intellectual { @include capital-border-highlight($intellectual); }
    &.financial { @include capital-border-highlight($financial); }
    &.manufacturing { @include capital-border-highlight($manufacturing); }

    a.dismiss {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
