@mixin capital-border-highlight($capital-colour) {
  h2 {
    border-color: $capital-colour;
  }
}

@mixin central-column {
  max-width: 960px;
}

.dashboard {

  header {
    background-color: $yorkshire-blue;
    margin-bottom: 1em;

    & > h1 {
      @extend %centred;
      @include central-column();
      text-align: center;
      font-size: 3em;
      color: white;
      padding: 1em;
      margin-top: 0;
      margin-bottom: 0;
    }
    & > nav {
      @extend %centred;
      @include central-column();
    }
  }

  main {
    @include central-column();
    @extend %centred;

    section {
      margin-left: 1em;
      margin-right: 1em;

      @include desktop {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .block {
    text-align: center;
    vertical-align: middle;
    padding: 1em;
  
    h2 {
      text-transform: capitalize;
      margin: 0;
    }
    .metric {
      font-size: 10em;
      font-weight: bold;
    }
    a { color: inherit; text-decoration: none; }
  }

  .focussed {
    position: relative;

    h2 {
      text-transform: capitalize;
      border-left: 1em solid;
      padding-left: 1em;
    }

    &.social { @include capital-border-highlight($social); }
    &.human { @include capital-border-highlight($human); }
    &.natural { @include capital-border-highlight($natural); }
    &.intellectual { @include capital-border-highlight($intellectual); }
    &.financial { @include capital-border-highlight($financial); }
    &.manufacturing { @include capital-border-highlight($manufacturing); }

    a.dismiss {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  #show-doc {
    margin: 0.5em;
  }
}

#documentation {
  display: none;
  #show-doc:checked ~ & { display: initial; }
}
