.menu {
  position: absolute;
  top: 0;
  right: 0;

  color: white;

  padding-top: 6rem;
  padding-right: 1rem;

  .button {
    display: block;
    position: absolute;
    height: 4rem;
    width: 4rem;
    top: 1rem;
    right: 1rem;
    border-radius: 0.5em;
    background-color: white;
    cursor: pointer;
    img {
      padding: 0.5rem;
      width: 3rem;
    }
  }

  ul {
    border-radius: 0.5em;
    position: relative;
    padding: 0;
    margin: 0;
    display: none;
    list-style: none;
    // background-color: change-color($color: $yorkshire-blue, $lightness: 95%);
    background-color: white;
    li {
      text-align: right;
      color: $yorkshire-blue;
    }
  }
  #show-menu {
    display: none;
    position: relative;
    top: 0;
    right: 0;
  }
  #show-menu:checked ~ ul {
    display: block;
  }

  a {
    padding: 1em;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
  @include desktop {
    background-color: $yorkshire-blue;
    position: initial;
    top: initial;
    right: initial;
    padding-top: initial;
    padding-right: initial;  
    .button {
      display: none;
    }
    ul {
      display: initial;
      background-color: initial;
      li {
        color: initial;
        display: inline;
      }  
      a {
        color: white;
        &.active {
          color: $yorkshire-blue;
          background-color: white;
        }
      }
    }
  }
}
